<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--当前应用名称,用于注册中心计算应用间依赖关系,注意:消费者和提供者应用名不要一样,保持唯一-->
    <dubbo:application name="h_service_provider"/>
    <!--连接应用注册中心zookeeper,ip 为zookeeper所在服务器的IP地址-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!--配置 协议和port 端口 默认是20880-->
    <dubbo:protocol name="dubbo" port="20880"/>
    <!-- 扫描指定包,加入@service注解的类会被发布为服务-->
    <dubbo:annotation package="com.example.service"/>

    <!--开启注解-->
    <mvc:annotation-driven/>

    <!--freeMarker的相关配置-->
    <bean id="freeMarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <!--指定模板文件所在目录-->
        <property name="templateLoaderPath" value="/WEB-INF/ftl"/>
        <!--指定字符集-->
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
    <context:property-placeholder location="classpath:freemarker.properties"/>


</beans>